/* TODO if we have nothing else to do, dark mode detection */

html {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}

h1 {
  font-size: 32px;
}

h1,
h2 {
  font-family: "Roboto Slab", serif;
}

a {
  color: hsl(48, 100%, 37.5%);
  /* color: hsl(211, 100%, 50%); */
  text-decoration: none;
}

a:hover {
  color: hsl(48, 100%, 25%);
  /* color: hsl(211, 100%, 35%); */
  text-decoration: underline;
}

p,
td {
  hyphens: auto;
}

table {
  border-collapse: collapse;
  margin: 16px 0;
}

th,
td {
  padding: 0.375em;
}

th,
td {
  border: 1px solid darkgray;
}

/* To make sure there are is no line break */
.date-column__cell,
.time-column__cell {
  white-space: nowrap;
}

.timeslots {
  text-align: center;
}

.timeslots__cell--A {
  background-color: #ffff99;
}

.timeslots__cell--B {
  background-color: #ffcc33;
}

.timeslots__cell--C {
  background-color: #ff9999;
}

.timeslots__cell--D {
  background-color: #ccccff;
}

header {
  width: 100%;
  height: 200px;
  background: url(../public/images/matrix.png) no-repeat 0 0;
  background-size: 100% 200%;
}

header h1 {
  color: white;
  margin: 0;
  position: relative;
  left: 50px;
  top: 70px;
  font-size: 3em;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: hsl(48, 50%, 25%);
  color: white;
  text-align: center;
}

.navbar {
  font-size: 1.2em;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: hsl(48, 50%, 25%);
}

.navbar a {
  display: block;
  color: white;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: hsl(48, 75%, 37.5%);
}

.navbar__link--current {
  background-color: hsl(48, 100%, 50%);
}

.content {
  margin: 8px;
}

.content img {
  display: block;
  border-radius: 50%;
  border: 3px solid hsl(48, 50%, 25%);
  box-shadow: 10px 15px 0px 0px rgba(0, 0, 0, 0.5);
  float: right;
  max-width: 150px;
}

#map {
  width: 93.75%;
  height: 512px;
  background-color: grey;
  margin: auto;
}
