html {
	font-family: 'Roboto', sans-serif;
}

h1, h2 {
	font-family: 'Roboto Slab', serif;
}

.navbar {
	font-size: 1.2em;
}

.navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: hsl(48, 50%, 25%);
}

.navbar li {
	float: left;
}

.navbar a {
	display: block;
	color: #ffffff;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.navbar a:hover {
	background-color: hsl(48, 75%, 37.5%);
}

.navbar__link--current {
	background-color: hsl(48, 100%, 50%);
}
