@import "mobile.css";

@keyframes loadAnimation{
  from {opacity: 0;}
  to {opacity: 1;}
}

/*
667px is the height of the iPhone 6/6s/7/8, so these rules apply for those in
landscape and anything larger
*/
@media only screen and (min-width: 666px) {
  th,
  td {
    border: 2px solid black;
  }

  table {
    margin: 16px;
  }

  th {
    padding: 1em;
  }

  td {
    padding: 0.75em 1em;
  }

  /*
  On non-phones or when phone is in landscape, the navbar element will be 
  listed horizontally
  */
  .navbar li {
    float: left;
    margin: 0 2px;
  }

  .navbar ul {
    padding: 6px 8.25%;
  }

  .navbar a:hover,
  .navbar__link--current {
    border-radius: 8px;
  }

  .content {
    margin: 8px 12.5%;
    animation-name: loadAnimation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  .content img {
    border-radius: 50%;
    border: 3px solid hsl(48, 50%, 25%);
    box-shadow: 10px 15px 0px 0px rgba(0, 0, 0, 0.5);
    float: right;
    max-width: 300px;
  }
}
